* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* shared style  */
main{
  max-width: 1200px;
  margin: 0 auto;
  /* border: 5px solid red; */
}
main > section{
  margin-top: 120px;
}
.display-items {
  display: flex;
}
p {
   color: #727272;
   margin-top: 15px;
  font-size: 13px;
}
.btn-praimary {
  font-size: 20px;
  padding: 9px 25px;
  color: white;
  background-color: #ff900e;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}
/* Header-part-start  */
.navber {
  justify-content: space-between;
  padding: 20px 0;
}
.Brand-nm {
  font-size: 30px;
}
.navber,
.banner {
  max-width: 1200px;
  margin: 0 auto;
}
.bg-light {

  background-color: rgba(255, 144, 14, 0.1);
}
.nav-links {
  gap: 30px;
}

.list-item {
  list-style: none;
}
.list-link {
  color: #424242;
  text-decoration: none;
}
/* Banner-heading-Part */
.banner {
  margin: 0 auto;
  /* border: 3px solid black; */
}
.banner-tittle {
  width: 860px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  /* border: 2px solid red; */
}
.Brand {
  font-size: 50px;
  margin-bottom: 15px;
}
.Brand-text {
  color: #727272;
  font-size: 14px;
  margin-bottom: 20px;
}
.banner-img {
  width: 100%;
  margin-bottom: 15px;
}
/* Media Quarry  */
@media screen and (max-width: 575px) {
  
  .navber,
  .nav-links {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .banner-tittle {
    width: auto;
    /* font-size: 0px; */
  }
  .Brand {
    font-size: 40px;
  }
  .Brand-text{|
  font-size: 10px;}
}
/* Header-part-End  */
/* main-part-start  */

/* Section-One-start  */
.section-one{
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.img-container{
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 15px;

}
.img-item{
  height: 270px;
  width: 270px;
  border: 0.1px dashed #dad2d2;
}
.our-features{
  width: 450px;
}
.all-sp{
  font-size: 26px;
  margin-bottom: 15px;
}
#sp-1{
  color: #727272;
}
#sp-2{
  color: #131313;
}
#sp-3{
  color:#FF900E;
}
.peragrap{
  font-size: 13px;
  color: #727272;
  margin-bottom: 20px;
}
@media screen and (max-width:575px) {
  .section-one{

    flex-direction: column-reverse;
  }
  .img-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 5px;
  
  }
 .img-item{
  height: 220px;
  width: 220px;
  }
}
/* Section-One-start  */

/* section-three-start  */
.Some-Facts{
}
.Some-Facts-tittle{
  width: 70%;
}
/* .Some-Facts-tittle p{
  color: #727272;
  margin-top: 15px;
  font-size: 13px;
} */
.Some-Facts-items, .display-items{
  margin-top: 40px;
  justify-content: space-around;

}
.Facts-item{
 padding: 15px 35px;
  text-align: center;
  border: 1px solid #FF900E;
  border-radius: 8px;
}
.Facts-item h3{
  color: #424242;
  margin: 13px 0;
  font-weight: 600;
}
.Facts-item h6{
  color: #727272;
  font-size: 10px;
}
.item-4{
  padding: 20px 43px;
}

@media screen and (max-width:575px) {
 .Some-Facts-tittle{
  width: 90%;
  margin-left: 10px ;
 }
  
  .Some-Facts-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
  }
}
/* section-three-End  */

/* section-fore-start  */

.Sponspors-detials{
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.Sponspors-company{
  filter: grayscale(100%);
  display: flex;
  justify-content: space-around;
  
}
.Sponspors-company img{
  width: 100px;
}
.grid-span{
  grid-row:span 2;
}
@media screen and (max-width:575px) {
  
  .Sponspors-detials{
    width: 90%;
  }
  .Sponspors-company{
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
    gap: 20px;
   
  }
  .Sponspors-company img{
    margin: 0 auto;
  }
  .grid-span{
    grid-column: span 2;
  }
}
/* section-fore-End */

/* main-part-End  */

/* footer-part-start  */
.footer{
  margin-top: 50px;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF4E7;
 
}

@media screen and (max-width:575px) {
  .footer{
    width: 100%;
  }
}

/* footer-part-start  */
